{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>booooyah</title>
    <link href="{% static 'css/rondon1.css' %}" rel="stylesheet" type="text/css">
   </head>
<body>
	<div id="wrapper">
		<div id="header">
			<img src="{% static 'img/dual.jpg'%}">
		</div>
		<div id="content">
		<p id="p1"><img src="{% static 'img/textt.jpg' %}"></p>
		<!--<p><font color='000' size="5">We intended on making a site which provides you with all the information that is needed to 
									a seat in a good college.Our motto is to help students throughout the country to make the most
									of their rank. Sign in and view all the opportunities available with you.</p>-->
		<div align="center" style="padding-top: 40px;margin: auto" class="abc1">
		<img src="{% static 'img/specks.png' %}"></p><br><br>
		<img src="{% static 'img/textt8.jpg' %}"></p><br><br>
		</div>
		
	<p id="p1"><img src="{% static 'img/textt3.jpg'%}"></p>
	<p id="p1"><img src="{% static 'img/textt10.jpg' %}"></p>	
    <div align="center" style="margin-left: 50px" class="abc"> 
     <div style="width: 200px;height: 340px;border: 1px solid #DCDCDC;" class="roww1" align="center">
    <font size='4'>Post Title </font><br><br>
    <img src="{% static 'img/college2.png'%}" height='150' width='150'><br><br><font size="2">
    tkjirra glarhgi jgihir nerghirgh lafargihg wrghqri girhqpeh wrghhqerp</font><br><br>
    <button type='button' class='buttons'> Read More</button>
    </div>
    <div style="width: 200px;height: 340px;border: 1px solid #DCDCDC;" class="roww">
      <font size='4'>Post Title </font><br><br>
    <img src="{% static 'img/college2.png'%}" height='150' width='150'><br><br>
    <font size="2">tkjirra glarhgi jgihir nerghirgh lafargihg wrghqri girhqpeh wrghhqerp</font>

    <br><br>
    <button type='button' class='buttons'> Read More</button>
    </div>
    <div style="width: 200px;height: 340px;border: 1px solid #DCDCDC;" class="roww"><font size='4'>Post Title </font><br><br>
    <img src="{% static 'img/college2.png'%}" height='150' width='150'><br><br>
    <font size="2">tkjirra glarhgi jgihir nerghirgh lafargihg wrghqri girhqpeh wrghhqerp</font><br><br>
    <button type='button' class='buttons'> Read More</button>
  </div><!--&nbsp;&nbsp;&nbsp;-->
  </div><br><br><br><br><br>
  <p id="p1"><img src="{% static 'img/space.jpg'%}"></p>
  <p id="p1"><img src="{% static 'img/textt5.jpg'%}"></p>
  <div align="center" style="padding-top: 40px;margin: auto" class="abc">
  <img src="{% static 'img/facebook.png'%}" height='130' width='130'  data-panelid="panel4" class="panel-button">&nbsp;&nbsp;&nbsp;
  <img src="{%static 'img/google+.png'%}" height='120' width='120'  data-panelid="panel5" class="panel-button">&nbsp;&nbsp;&nbsp;
  <img src="{% static 'img/twitterb.png'%}" height='120' width='120' data-panelid="panel6" class="panel-button">&nbsp;&nbsp;&nbsp;
  <img src="{% static 'img/pinterest.png'%}"  height='120' width='120' data-panelid="panel4" class="panel-button">&nbsp;&nbsp;&nbsp;
  <img src="{% static 'img/orange.png' %}" height='120' width='120' data-panelid="panel5" class="panel-button">&nbsp;&nbsp;&nbsp;
  </div>
  <div id="more">
  <font color="#fff" size="4"><p>
Educamp is a Trademark of Educamp Ltd.<br>
Copyright (c) 2015–2020 Educamp Ltd<br>
 All Rights Reserved. <br>

Web Design by EduTeam<br><p>

</font>
  </div>

   </div>
		
		</div>
		
		</div>
		<script src="js/script.js"></script>
	</body>
	</html>	